/**************/
/* Custom CSS */
/**************/

body {
    height:100vh;
    background-color: #fff;
    font-family: 'Cabin', sans-serif;
}

input, button {
  display: block;
}


.title {
  font-size: 35px;
  font-weight: 900;
  padding: 20px;
  color: #fff;
}

.option {
  margin-top:36px;
  font-size: 20px;
  padding-left: 22px;
  color: #fff;
}

.container {
    margin: 0 auto;
    padding: 64px 32px;
}

.dashboard {
  background-color: #bbb;
  padding: 16px;
}

.dashboard-card {
    background: #FFF;
    border: 1px solid #E9EAEE;
    border-radius: 8px;
    max-width: 360px;
    min-width: 300px;
    margin-right: 30px;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
}

.dc-grade {
  font-size: 48px;
}

.dc-gradeModifier {
  font-size: 20px;
}

.dc-title {
  font-size: 20px;
}

.chart {

}

.row {
  margin:0 !important;
}

.category {
  color: #fff;
  padding: 60px 30px;
  font-size: 30px;
  font-weight: bold;
}

.dropdown {
  align-items: left;
  margin-top: 35px;
  margin-left: 32px;
}

.cards {
  background: #bbb;
  margin-top: 0;
  padding-bottom: 20px;
}

.card {
    background: #FFF;
    /*border: 1px solid #E9EAEE;
    border-radius: 8px;*/
    max-width: 360px;
    min-width: 320px;
    margin-right: 16px;
    margin-top: 16px;

    padding: 16px;
    align-items: center;
}

.cardSort {
    margin-top: 20px;
}

.card-header {
  background-color: #fff;
}

.card-header h1 {
    font-weight: 900;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-header img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.routeName {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.ratingContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
}

.stats {
    padding: 16px 0;
    align-items: center;
}

.routeStars {
    text-align: center;
    justify-content: center;
}

.dateContainer {
    padding-top: 15px;
}

.upload {
  background: #bbb;
  margin-top: 0;
  padding-bottom: 20px;
}

.uploadContainer {
  padding: 20px;
}

.uploadHeader {
  font-weight:500;
  background-color: #343a40;
  color: #fff;
  margin: 0 36px;
  padding: 10px 0 10px 20px;
}

.uploadBody {
  background: #fff;
  margin: 0 36px 10px 36px;
}


.formRow {
  margin-top: 10px;
}

.smallFont {
  font-size: 12px;
}

.regularFont {
    font-size: 18px;
}

.mediumFont {
  font-size: 24px;
}

.largeFont {
    font-size: 36px;
}

.extraLargeFont {
    font-size: 48px;
}

#cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
}

.subtext {
    opacity: 0.5;
    font-size: 16px;
}

.bar {
    height: 8px;
    background-color: #25DFAC;
    position: absolute;
    width: 80%;
}

.heading {
    font-size: 12px;
    color: rgba(35,47,91,0.50);
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 767px) {
    .title {
        font-size: 60px;
    }
}
